{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content=", "/>
    <title>文本分类</title>
    <!-- 3D按钮的CSS样式库 -->
    <link rel="stylesheet" href="{% static './css/buttons.css' %}">
    <link rel="stylesheet" href="{% static './css/style.css' %}">

</head>

<body>
<!--<div class="bg" ><img src="reco/img/bg.jpg" alt=""></div>-->
<div class="header clearfix">
    <!--<a href=""><img src="{% static 'reco/img/logo.jpg' %}" alt=""><span class="logo">Eyecare</span></a>-->
    <a href=""><img src="{% static './img/logo.jpg' %}" alt=""><span class="logo">NLP_ASSIGNMENT</span></a>
    <!--<div class="left"><span class="login">login</span></div>-->
    <!--<div class="left"><span class="login">login</span></div>-->
</div>
<div id="main">
    <div id="body" class="light">
        <div id="content" class="show">
            <div class="demo">
                <form id="uploadForm" action="" method="post" enctype="multipart/form-data">
                    <div class="upload_box">
                        <div class="upload_main">
                            <div class="upload_choose">
                                <input id="fileText" type="file" size="30" name="fileselect[]" multiple/>
                                <!--<span id="fileDragArea" class="upload_drag_area">或者将文本粘贴拖到此处</span>-->
                                <!--<input id="textInputArea" type="text" class="upload_drag_area" value="或者将文本粘贴拖到此处"/> -->
								<!--<textarea id="textInputArea" class="upload_copy_area" rows="10" cols="30"/>或者将文本粘贴拖到此处</textarea>-->
								<textarea id="textInputArea" class="upload_copy_area" rows="10" cols="30" onKeyDown="textdown(event)"
									onKeyUp="textup()" onfocus="if(value=='或者将文本粘贴拖到此处'){value=''}"
									onblur="if (value ==''){value='或者将文本粘贴拖到此处'}"/>或者将文本粘贴拖到此处</textarea>
                            </div>
							<!--<fieldset>-->
                            <!--<legend>上传文件</legend>-->
                            <!--<input type="file" name="docfile" />-->
                            <!--<input type="submit" value="上传"/>-->
                            <!--</fieldset>-->
                            <a href="http://localhost:8000/index/"
                               class="button button-3d button-primary button-rounded">上传分析</a>
                            <div id="preview" class="upload_preview"></div>
                            <!--<button onclick="window.location.href='http://localhost:8000/reco/show/'"
                                    type="button" id="showSubmit" class="show_submit_btn">显示结果</button>-->
                        </div>
                        <div class="upload_submit">
                            <button type="button" id="fileSubmit" class="upload_submit_btn">确认上传文件</button>
                            <!--<button onclick="window.location.href='http://localhost:8000/reco/download/{{ pic_id }}'"
                                    type="button" id="fileSubmit" class="upload_submit_btn">确认上传图片</button>-->
                        </div>
                        <div id="uploadInf" class="upload_inf"></div>
                    </div>
                </form>
				
				<div class="result_show_main">
							<span class="result_show_text">  分析结果：</span>
                            <div class="result_show_panel">
                                <input id="textOutputArea" type="text" class="result_show" readonly="readonly" value="{{ result }}"/> 
								<!--<textarea id="textInputArea" class="upload_copy_area" rows="10" cols="30" onKeyDown="textdown(event)"
									onKeyUp="textup()" onfocus="if(value=='或者将文本粘贴拖到此处'){value=''}"
									onblur="if (value ==''){value='或者将文本粘贴拖到此处'}"/>或者将文本粘贴拖到此处</textarea>-->
							</div>
				</div>
            </div>
        </div>
    </div>
</div>
<div class="layer_footer">
    <span>©    组名待定</span>
    <!--<span class="dot">·</span>
    <a target="_blank" href="">相关网站</a>
    <span class="dot">·</span>
    <a href="" class="footer-mobile-show">联系我们</a>-->
    <br/>
    <span>2019  中国科学院大学</span>
</div>
<script src="{% static './js/jquery.js' %}"></script>
<script src="{% static './js/test.js' %}"></script>
<!-- <script src="test.js"></script> -->

<SCRIPT type="text/javascript">    
function textdown(e) {
    textevent = e;
    if (textevent.keyCode == 8) {
        return;
    }
    if (document.getElementById('textarea').value.length >= 100) {
        alert("大侠，手下留情，此处限字100")
        if (!document.all) {
            textevent.preventDefault();
        } else {
            textevent.returnValue = false;
        }
    }
}
function textup() {
    var s = document.getElementById('textarea').value;
    //判断ID为text的文本区域字数是否超过100个 
    if (s.length > 100) {
        document.getElementById('textarea').value = s.substring(0, 100);
    }
}
</SCRIPT>  
</body>
</html>
